
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: sans-serif;
    background: #27292C;
    color: #fff;
}
.navigation
{
    display: flex;
    gap: 1rem;
    align-items: center;
    background: #483256;
    padding: 2.5rem;
}

.navigation h3{
    font-size: 2rem;
    color: royalblue;
}
.logo
{
    width:50px;
    height: 50px;
}

h1
{
    margin-top: 3rem;
}

.title
{
    font-size: 4rem;
    padding: 2.5rem;
}

.nav-list
{
    list-style-type: circle;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*background: url(../assets/react-bg.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    /*background-position-y:center;*/
}

.nav-list li{
    font-size: 2rem;
}

li::marker
{
    color:forestgreen;
}